<!DOCTYPE html>
<html>
  <head>
    <title>Video Upload</title>
  </head>
  <body>
    <h1>Upload Video</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="video" />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
